<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
  <title>Home Page</title>
</head>

<body>
<div class="container">
  <br/>
  <div class="row">
    <div class="col-sm-8">
      <h1>Logo</h1>
    </div>
    <div class="col-sm-4">
     
      <div class="input-group">
        <input type="text" class="form-control" id="search-input" placeholder="Search for any Movie">
        <button  class="search-movie">
        
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
      <br/>
    </div>
  </div>
</div>



<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>    
    </ul>
  </div>
  </div>  
</nav>

  {{{body}}}

  <footer class="footer">
    <div class="container">
      <p>@ Copyrigt 2019</p>
    </div>
  </footer>
</body>

</html>
