<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/gif" href="/images/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <title>Cinema Snapshot</title>
</head>

<body>
<div class="outer-container-box">
<div class="container">
  <br/>
  <div class="row">
    <div class="col-sm-8">
      <div id="logo">
        <a href="/">
        {{!-- <h1>Logo</h1> --}}
        <img src="images/logo.png" width="150px"/>
        </a>
      </div>
      
    </div>
    <div class="col-sm-4">
     
      <div class="input-group">
        <input type="text" class="form-control" id="search-input" placeholder="Search for any Movie">
        <button  class="search-movie" type="submit">
        
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
      <br/>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="popular" id="popular_movi">Popular Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="top_rated" id="top_movi">Top Rated Movies</a>
      </li>    
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#signupFormModal">Sign-Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#loginFormModal">Login</a>
      </li>    
    </ul>
  </div>
  </div>  
</nav>
<div class="main-container">
  {{{body}}}
</div>
 <div class="container outer-box ">
   <div class="row search-result"></div>
 </div>
  
</div>
<footer class="footer">
    <div class="container">
      <p>@ Copyrigt 2019</p>
    </div>
  </footer>
{{!-- Login ModalPopup --}}

<div class="modal fade show " id="loginFormModal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body">
        <div class="text-center top-icon">
          <span>
            <i class="fa fa-user fa-spin-hover" aria-hidden="true"></i>
          </span> 
        </div>
        <h4 class="text-center">Login Form </h4>
        <form class="create-form">
  
        <div class="form-group">
          <label for="email">Email Id:</label>
          <input type="email" id="email-id" name="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="passwd" name="email" class="form-control">
        </div>
  
        <button type="submit" id="login-btn" class="btn btn-theme">Login</button>
        <button type="submit" id="login-gmail-btn" class="btn btn-theme">
          <i class="fa fa-google-plus" aria-hidden="true"></i> Login With Gmail</button>
        </form>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-theme" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>

{{!-- SignUp ModalPopup --}}

<div class="modal fade show" id="signupFormModal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body">
        <div class="text-center top-icon">
          <span>
            <i class="fa fa-user-plus fa-spin-hover" aria-hidden="true"></i>
          </span> 
        </div>
        <h4 class="text-center">Sign-Up Form </h4>
        <form class="create-form">
       
        <div class="form-group">
          <label for="email">Email Id :</label>
          <input type="text" id="email" name="email" class="form-control">
        </div>
       
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Confirm Password:</label>
          <input type="password" id="conformPassword" name="conformPassword" class="form-control">
        </div>
  
        <button type="submit" id="signup-btn" class="btn btn-theme">Register Now</button>
        <button type="submit" id="signup-gmail-btn" class="btn btn-theme">
          <i class="fa fa-google-plus" aria-hidden="true"></i> Sign-Up With Gmail</button>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-theme" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>
</body>

</html>
