<div class="container outer-box">
    <br/>
    <div class="row ">
       <div class="col-sm-3 img-box"></div>
       <div class="col-sm-9">
           
           <div class="movie-detail">

           </div>
       </div>
    </div>
</div>

{{!-- Video ModalPopup --}}

<div class="modal fade show" id="vidioModal" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body">
        <div class="text-center top-icon">
          <span>
            <i class="fa fa-play-circle fa-spin-hover" aria-hidden="true"></i>
          </span> 
        </div>
        <h4 class="text-center">Play Trailer </h4>
        <div class="trailer-box"></div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-theme close_me" data-dismiss="modal">Close</button>
      
      </div>
      
    </div>
  </div>
</div>
<script src="/js/index.js"></script>
<script src="/js/movie.js"></script>
<script>
$('.close_me').click(function (e) {
  var $videoEl = $('.trailer-box').find('iframe');
  $videoEl.attr('src', $videoEl.attr('src'));
  console.log('The modal is completely hidden now!');
});

$("#vidioModal").on('hide.bs.modal', function () {
  var $videoEl = $('.trailer-box').find('iframe');
  $videoEl.attr('src', $videoEl.attr('src'));
  console.log('The modal is completely hidden now!');
});

</script>