<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/avengers.jpg" alt="Avengers Endgame" width="1100" height="500">
      <div class="carousel-caption">
        <h3><span>Avengers Endgame</span></h3>
        <p><a href="/detail" id="tt4154796" class="btn btn-theme more-detail" >See More Detail</a></p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="images/hobbit.jpg" alt="Hobbit" width="1100" height="500">
      <div class="carousel-caption">
        <h3><span>The Hobbit</span></h3>
        <p><a href="/detail" id="tt2310332" class="btn btn-theme more-detail">See More Detail</a></p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="images/smurf.jpg" alt="Smurfs: The Lost Village" width="1100" height="500">
      <div class="carousel-caption">
        <h3><span>Smurfs: The Lost Village</span></h3>
        <p><a href="/detail" id="tt2398241" class="btn btn-theme more-detail">See More Detail</a></p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="images/avatar.jpg" alt="Avatar" width="1100" height="500">
      <div class="carousel-caption">
        <h3><span>Avatar</span></h3>
        <p><a href="/detail" id="tt0499549" class="btn btn-theme more-detail">See More Detail</a></p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<div id="home">
  <div class="container outer-box">
    
    <div class="row">
      <div class="col-12">
        <h1 class="top-heading">{{msg}}</h1>
      </div>
    </div>
    <div class="row movie_box">
      
    </div>
  </div>
</div>

<div class="modal fade show" id="alertMovieSearch" >
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body">
        <h4 class="text-center">Please enter any movie name before search </h4>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-theme" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/movie.js"></script>
