<div class="container outer-box">
    <h1 class="top-heading">Popular Movies</h1>
    <div class="row popular_movie_box">
      
    </div>
</div>


<script src="/js/index.js"></script>
<script src="/js/movie.js"></script>
<script>
    const headerPopular = $("#popular_movi");
    headerPopular.addClass("nav-active")
</script>