<div class="container outer-box">
    <h1 class="top-heading">Top Rated Movies</h1>
    <div class="row top_rated_movies_box">
      
    </div>
</div>


<script src="/js/index.js"></script>
<script src="/js/movie.js"></script>
<script>
    const headertop = $("#top_movi");
    headertop.addClass("nav-active")
</script>