body {
  background-color: #525252;
  background-image: url(../images/star-img.gif);
  background-attachment: fixed;
  color: #fff;
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.outer-container-box{
  position: relative;
  min-height: 100vh;
  padding-bottom: 77px;
}
#logo img{
  background-color: white;
  padding: 4px;
  margin-bottom: 10px;
  border-radius: 11px;
}
#logo img:hover{
  /* -webkit-animation-name: buzz;
  animation-name: buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; */
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes buzz {
  50% {
      -ms-transform: translateX(3px) rotate(2deg);
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -ms-transform: translateX(-3px) rotate(-2deg);
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes buzz {
  50% {
    -ms-transform: translateX(3px) rotate(2deg);
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -ms-transform: translateX(-3px) rotate(-2deg);
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.outer-box{
  background-color: rgba(0, 0, 0, 0.79);
  box-shadow: 0px 2px 3.5px #fff; 
}
.list-group-item {
  line-height: 2.5;
}
.hover-description{
  position: absolute;
  top: 0px;
  left: 15px;
  right: 15px;
  height: 300px;
  overflow: hidden;
  background-color: #000000ba;
  background-image: linear-gradient(to right, rgba(202, 37, 37, 0.34), rgba(124, 34, 140, 0.71));
  color: #fff;
  padding: 10px;
  text-align: center;
  display: none;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
.hover-description span{
  max-height: 197px;
  overflow: hidden;
}
.image-box{
  margin-bottom: 10px;
  margin-top: 10px;
}
.image-box:hover .hover-description{
  display: flex;
}
.image-box:hover .poster-box{
  box-shadow: 1px 2px 6.5px #8a8a8a;
}
.poster-box{
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.image-box h5{
  background-color: #fff;
  color: #ff697d;
  font-size: 1rem;
  padding: 10px;
  min-height: 58px;
  text-align: center;
}
.btn-theme{
  color: #fff;
  background-color: #ff697d;
  background-image: linear-gradient(to right, #ca2525 , #7c228c);
  border: none;
  border-radius: 30px;
  margin-bottom: 10px;
}
.btn-theme:hover{
  color:#fff;
  background-color: #d61c35;
  background-image: linear-gradient(to right , #7c228c, #ca2525);
  border-color:#d61c35;
  box-shadow: 5px 3px 0.5px #fff;
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
#login-gmail-btn{
  background-color: #df4a32;
  border-color: #df4a32;
}
.image-box .btn-theme{
  padding-top: 0px;
  padding-bottom: 0px;
}
button:focus{
  outline: none;
}
.movie_box .more-detail{
  float: left;
}
.save-movie{
  float:right;
}
.image-box img{
  width: 100%;
  min-height: 300px;
  position: relative;
  background: #ff697d;
  background: linear-gradient(to right,#ca2525 , #7c228c);
  padding: 3px;
  object-fit: cover;
}
nav.bg-dark {
  background-color: #ff697d !important;
  background-image: linear-gradient(to right, #ca2525 , #7c228c);
}
.modal-content{
  color:#000;
} 
.modal-content label {
  display: inline-block;
  margin-bottom: 0rem;
}
.modal-content h4{
  color:#ff697d;
  background: -webkit-linear-gradient(#ca2525 , #7c228c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#logo a{
  text-decoration: none;
}
#logo h1{
  color: #ff697d;
}

/* Fixes dropdown menus placed on the right side */
@media (min-width: 768px) {
  .navbar-nav {
    flex-direction: row;
  }
  
  .nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
  }
  .ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
  }
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem 0;
  background-color: #000;
  text-align: center;
  color: #fff;
}
.footer::before{
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #ff697d;
  background-image: linear-gradient(to right, #ca2525 , #7c228c);
  position: relative;
  top: -1rem;
}
#search-input{
  border-radius: 25px 0px 0px 25px;
  border: none;
  min-height: 45px;
}
.search-movie{
  border-radius: 0px 20px 20px 0px;
    border: none;
    width: 50px;
    color: #fff;
    background-color: #ff697d;
    background-image: linear-gradient(to right, #ca2525 , #7c228c);
}
.movie-description h2,.movie-description strong {
    color: #ff697d;
    background: -webkit-linear-gradient(#ca2525 , #7c228c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.movie-trailer, .movie-trailer:hover{
  color: #ff697d;
  background: -webkit-linear-gradient(#ca2525 , #7c228c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-size: 1.3rem;
}
.movie-trailer span{
  background-color: red;
    background: -webkit-linear-gradient(#ca2525 , #7c228c);
    /* color: #fff !important; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.trailer-box{
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.trailer-box iframe{
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.img-box img{
  position: relative;
  background: #ff697d ;
  background: linear-gradient(to right,#ca2525 , #7c228c);
  padding: 3px;
}
.search-result{
  /* padding:20px 0px; */
}
.carousel{
  box-shadow: 1px 2px 10.5px #ca2525;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel h3{
  display: inline-block;
  background-color: #ffffffc2;
  padding: 5px 15px;
  box-shadow: 1px 2px 6.5px #000;
}
.carousel h3 span{
  color: #ff697d;
  background: -webkit-linear-gradient(#ca2525 , #7c228c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carousel .btn{
  box-shadow: 1px 2px 6.5px #000;
}
.carousel .btn:hover{
  box-shadow: 5px 3px 0.5px #fff;
}
.top-heading{
  color: #ff697d;
  background: -webkit-linear-gradient(#ca2525 , #7c228c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding: 20px 0px 10px;
  font-size: 3rem;
}
.modal-content{
  border-radius: 0px;
  background-color: #ff697d !important;
  background-image: linear-gradient(to right, #ca2525 , #7c228c);
  padding: 5px;
}
.modal-body, .modal-footer{
  background-color: #fff;
}
.fade.show{
  transform: translateX(0px);
}
